.inputBox {
    position: fixed;
    bottom: 20px;
    left: 40%;
    transform: translateX(-40%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contaner{
    position: relative;
}

.roomMembers{
    position: absolute;
    right: 75%;
}

.choise{
    margin-right: auto;
    background-color: #786868;
    display: inline-flexbox;
}

h1 {
    text-align: center;
}

input {
    width: 30vw;
    height: 3rem;
    font-size: 1rem;
    padding: 2px 8px;
    outline: none;
    margin-right: 10px;
    /* position: fixed; */
}

#leave {
    width: 6rem;
    height: 2.5rem;
    font-size: 1rem;
    cursor: pointer;
    position: fixed;
    right: 29%;
    top: 8%;
    bottom: 20px;
}

button {

    width: 6rem;
    height: 3.5rem;
    font-size: 1rem;
    cursor: pointer;
    position: fixed
}

ul {
    position: relative;
    left: 3%;
    overflow-y: scroll; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    list-style-type: none; 
    height: 60vh;
	width: 35vw;
	margin: auto;
	max-width: 95%;
    border-left: 2px solid #74baff;
}

.user{
    background-color: #74baff91;
    color: white;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 0.1px;
    max-width: 50%;
    word-wrap: break-word;
    color: rgb(0, 0, 0);
    /* margin-left: auto; */
}

::-webkit-scrollbar-tracks
{
	border: 5px solid white;
	background-color: #b2bec3;
}


::-webkit-scrollbar
{
	width: 5px;
	background-color: #dfe6e9;
}


::-webkit-scrollbar-thumb {
    background-color: #74baffd4;
    border-radius: 10px;
}

li {
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

li span {
    font-size: 0.8rem;
    color: #786868;
    position: relative;
    margin-left: 20px;
    top: 0.70rem;
}